 <!-- Navigation -->
 <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
 <div class="container">
 <div class="navbar-header">
 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
 <i class="fa fa-bars"></i>
 </button>
 <a class="navbar-brand page-scroll" href="#page-top">
 <i class="fa fa-play-circle"></i> <span class="light">Welcome to</span> Tema Royal School
 </a>
 </div>

 <!-- Collect the nav links, forms, and other content for toggling -->
 <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
 <ul class="nav navbar-nav">
 <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
 <li class="hidden">
 <a href="#page-top"></a>
 </li>
 <li>
 <a class="page-scroll" href="#about">About Us</a>
 </li>
 <li>
 <a class="page-scroll" href="#contact">Contact Us</a>
 </li>
 <li>
 <a class="page-scroll" href="#download2">Download Brochure</a>
 </li>
 <li>
 <a class="page-scroll" href="#contact2">Contact Treehut</a>
 </li>
 </ul>
 </div>
 <!-- /.navbar-collapse -->
 </div>
 <!-- /.container -->
 </nav>

 <!-- Intro Header -->
 <header class="intro">
 <div class="intro-body">
 <div class="container">
 <div class="row">
 <div class="col-md-8 col-md-offset-2">
<br>
<br>
 <h1 class="brand-heading">Tema Royal School</h1>
 <p class="intro-text">"ROYALS IN CHRIST JESUS"<br>Created by TREEHUT TRIBE.</p>
 <a href="#about" class="btn btn-circle page-scroll pulse">
 <i class="fa fa-angle-double-down"></i>
 </a>
 </div>
 </div>
 </div>
 </div>
 </header>




 <!-- About Section -->
 <section id="about" class="container content-section text-align: justify">
 <div class="row">
 <div class=" text-center">
 <h2>About Us</h2>
 </div>
 <div class="col-lg-12 col-lg-offset-0">
 <p>Royal school was founded by Mama Adokuwa Asigble IV on 4th July 1977(39)years ago. The land plot no. A/84/3 was acquired by her from TDC whilst she was working at Datus Preparatory school as a manageress. Mama vision to establish a school emerged as a solution to hardship she face at Datus. The Nursery Unit of the school started at her residential House Number T.2 with the support of her husband( Mr Anochie) and her mother Madam Janet Ame Dugbazah. The number on roll was 3 .It was only a nursery unit, few months after operating the school a sorrowful event occurred. In 1978 she erected a wooden structure with the supervision of her husband, on the acquired plot to accommodate Nursery, preparatory and further classes. Within a couple of years operation tema Royal number grew to over 400 pupils. The schools crest was designed with the inspiration from Isaiah 31:5 which says; just as a bird hover over its nest to protect its young, so my lord almighty would protect Jerusalem and defend it. Tema royal school has been registered by both Ghana education service and Ghana national association of private schools as grade B.
In 1987 the school developed to class 6 with over 500 pupils on roll. The bricks-block was built between 1988and 1992 during the time of JSS1to JSS3 were instituted. Some years of operation later brought the workshop, computer lab and library block. And up to date ,royal school has an enviable record in the Common Entrance, Middle school leaving certificate and Basic Education Certificate Examination. Tema Royal school has been registered by both the Ghana education service and the Ghana Association of Private schools as Grade B since 1978 on a 0.7 acre land in the hub of the tema city. It grew to JHS in 1990 with over 300 children.in 1994 workshop  In 2002 when our founder (In 2005, Dr Bernice and Dr Mrs Vivian Lee through Mama helped build a new library and the administration block . In July 11 2009 the , (Mama Adokuwa Asigble IV) the founder passed away.Royal school tema was inherited by the son Harry k. Anokye Jnr in  September 2010. He is now the sole share holder of the new Royal school tema ltd.
The school currently has a library, computer lab with 20 laptops and a projector, a 30 capacity boarding dormitory ,water storage and a school bus. 
 </div>
 </div>
 </section>

 <!-- Contact Section -->
 <section id="contact" class="container content-section text-center">
 <div class="row">
 <div class="col-lg-8 col-lg-offset-2">
 <h2>Contact Us</h2>
 <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
 <p><a href="mailto:info@temaroyalschool.com">info@temaroyalschool.com</a>
 </p>
 <ul class="list-inline banner-social-buttons">
 <li>
 <a href="mailto:anokyeh@yahoo.com" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Email</span></a>
 </li>
 
 </ul>
 </div>
 </div>
 </section>

 <!-- Download SASS Section -->
 <section id="download2" class="content-section text-center">
 <div class="download-section">
 <div class="container">
 <div class="col-lg-8 col-lg-offset-2">
 <h2>Download Brochure</h2>
 <p>You can download the Tema royal school brochure</p>
 <ul class="list-inline banner-social-buttons">
 <a href="https:www.temaroyalschool.com" class="btn btn-default btn-lg">Visit the Download Page</a>
 </ul>
 </div>
 </div>
 </div>
 </section>

 <!-- Contact Section -->
 <section id="contact2" class="container content-section text-center">
 <div class="row">
 <div class="col-lg-8 col-lg-offset-2">
 <h2>Contact Treehut</h2>
 <p>If you have problems with the <b>navigations</b> of the website, please contact</p>
 <p><a href="mailto:enrikay007@yahoo.com">Treehut Solutions page</a>
 </p>
 <ul class="list-inline banner-social-buttons">
 <li>
 <a href="https://twitter.com/Baffour" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
 </li>
 <li>
 <a href="https://github.com/enrikay007" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
 </li>
 </ul>
 </div>
 </div>
 </section>



 <!-- Map Section -->
 <div id="map"></div>

 <!-- Footer -->
 <footer>
 <div class="container text-center">
 <p>Copyright &copy; Tema Royal School 2017</p>
 </div>
 </footer>

 <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>